* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    cursor: url("assets/cursor.png") 0 0, auto !important;
}

:root {
    --primary-color: rgba(255, 25, 0, 0.3);
    --secondary-color: #ff6b6b;
    --background-color: rgba(255, 72, 0, 0.2);

    --text-color: #eee;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --darker-transparent-black: rgba(0, 0, 0, 0.8);
    --transparent-grey: rgba(30, 30, 30, 0.8)
}

body {
    background: black;
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    height: 100vh;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(1.4);
}

.sidebar {
    width: 280px;
    background: var(--darker-transparent-black);
    border-right: 1px solid var(--background-color);
    display: flex;
    flex-direction: column;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-bottom: 1px solid var(--background-color);
    transition: background 0.2s ease;
}

.logo:hover {
    background: var(--background-color);
}

.logo-img {
    height: 50px;
}

.big-logo-img {
    height: 100px;
}

.nav {
    padding: 20px;
}

.nav-section {
    margin-bottom: 30px;
}

.nav-title {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-bottom: 10px;

    padding: 0 4px 4px;
    border-bottom: 1px solid var(--secondary-color);    
}

.nav button {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 8px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--text-color);
    text-align: left;
    transition: all 0.2s ease;
}

.nav button:hover {
    background: var(--background-color);
    border-color: var(--primary-color);
}

.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    padding: 0 4px 4px;
    border-bottom: 1px solid var(--secondary-color); 
}

.view {
    background: var(--darker-transparent-black);
    border-radius: 12px;
    padding: 40px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 50px var(--darker-transparent-black);
    overflow: auto;
    height: 90%; 
}

.horizontal-div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.separated-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    flex: 1;
    height: 30px;
    padding: 0 12px;
    background: var(--transparent-black);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: var(--text-color);
    font-size: 13px;
    outline: none;
    transition: all 0.2s ease;
}

.input:hover {
    background: var(--darker-transparent-black);
    border-color: var(--primary-color);
}

.input:focus {
    background: var(--darker-transparent-black);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
}

.default-button {
    width: 120px;
    height: 40px;
    background: var(--transparent-black);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: var(--text-color);
    font-size: 16px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-button:hover {
    background: var(--background-color);
    border-color: var(--primary-color);
}

.important-button {
    width: 120px;
    height: 40px;
    background: rgba(100, 0, 0, 0.4);
    border: 1px solid rgba(200, 25, 0);
    border-radius: 4px;
    color: var(--text-color);
    font-size: 16px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.important-button:hover {
    background: rgba(255, 0, 0, 0.4);
    border-color: rgba(255, 25, 0, 0.8);
}

.bigger-button {
    width: 240px;
    height: 80px;
    border-radius: 8px;
    font-size: 32px;
}

.longer-button {
    width: 240px;
}

.mods-container {
    height: 80%;
    transform: translateY(50px);
    padding: 20px;
    overflow: auto;
}

.mod-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mod-container:not(:last-child) {
    border-bottom: 1px solid var(--secondary-color);
}

.mod-text {
    display: flex;
    flex-direction: column;
}

.mod-icon {
    width: 128px;
    height: 128px;
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--transparent-grey);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.transparent-text {
    color: rgba(255, 255, 255, 0.7);
}

.nexus-check-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.link {
    color: var(--text-color);
    transition: all 0.2s ease;
}

.link:hover {
    color: var(--secondary-color);
}

.themes-div {
    position: relative;
}

.themes-menu {
    display: none;
    position: absolute;
    background: var(--darker-transparent-black);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.themes-menu.show {
    display: block;
}

.themes-menu li {
    padding: 6px;
    display: flex;
    justify-content: center;
}

.themes-menu li:hover {
    background: var(--background-color);
}

.lace-pin-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 36px;
    color: var(--text-color);
    user-select: none;
}

.lace-pin-checkbox-container input {
    opacity: 0;
    height: 0;
    width: 0;
}

.lace-pin-checkbox-container .checkmark {
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    background: var(--transparent-black);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: all 0.2s ease;
}

.lace-pin-checkbox-container:hover .checkmark {
    background: var(--darker-transparent-black);
    border-color: var(--primary-color);
}

.lace-pin-checkbox-container input:checked ~ .checkmark {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.lace-pin-checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.lace-pin-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.lace-pin-checkbox-container .checkmark:after {
    left: 8px;
    width: 10px;
    height: 20px;
    border: solid var(--text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}