* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    cursor: url("assets/cursor.png") 0 0, auto !important;
}

body {
    background: black;
    color: #eee;
    height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    height: 100vh;
}

.background_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(1.4);
}

.sidebar {
    width: 280px;
    background: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(255, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 72, 0, 0.2);
    transition: background 0.2s;
}

.logo:hover {
    background: rgba(255, 0, 0, 0.08);
}

.logo_img {
    height: 50px;
    width: auto;
}

.nav {
    padding: 20px;
}

.nav-section {
    margin-bottom: 30px;
}

.nav-title {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;

    padding: 0 4px 4px;
    border-bottom: 1px solid #ff6b6b;    
}

.nav button {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 8px;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    text-align: left;
    transition: all 0.2s ease;
}

.nav button:hover {
    background: rgba(255, 72, 0, 0.2);
    border-color: rgba(255, 25, 0, 0.3);
}

.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 0 4px 4px;
    border-bottom: 1px solid #ff6b6b; 
}

.view {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    padding: 40px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    overflow: auto;
    height: 90%; 
}

.horizontal-div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.input {
    flex: 1;
    height: 30px;
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #ff6b6b;
    border-radius: 4px;
    color: #eee;
    font-size: 13px;
    outline: none;
    transition: all 0.2s ease;
}

.input:hover {
    background: rgba(0, 0, 0, 0.55);
    border-color: rgba(255, 25, 0, 0.3);
}

.input:focus {
    background: rgba(0, 0, 0, 0.65);
    border-color: rgba(255, 25, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(255, 25, 0, 0.2);
}

.default-button {
    width: 120px;
    height: 40px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #ff6b6b;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-button:hover {
    background: rgba(255, 72, 0, 0.2);
    border-color: rgba(255, 25, 0, 0.3);
}

.important-button {
    width: 120px;
    height: 40px;
    padding: 2px;
    background: rgba(100, 0, 0, 0.4);
    border: 1px solid rgba(200, 25, 0);
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.important-button:hover {
    background: rgba(255, 0, 0, 0.4);
    border-color: rgba(255, 25, 0, 0.8);
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-container input {
    width: 700px;
    height: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    outline: none;
    transition: background 0.3s, width 0.3s;
}

.search-container input:focus {
    background-color: rgba(255, 255, 255, 0.25);
    width: 800px;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.mods-container {
    width: 100%;
    height: 80%;
    transform: translateY(50px);
    background: rgba(30, 30, 30, 0.8);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 50px rgba(30, 30, 30, 0.15);
    overflow: auto;
}

.mod-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mod-container:not(:last-child) {
    border-bottom: 1px solid rgba(150, 25, 0, 0.5);

}

.mod-text {
    display: flex;
    flex-direction: column;
}

.mod-actions {
    margin-top: 12px;
    display: flex;
    gap: 20px;
}

.mod-icon {
    width: 128px;
    height: 128px;
    object-fit: contain;
    opacity: 0.9;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: rgb(120, 25, 0);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 25, 0);
}

.transparent-text {
    color: rgba(255, 255, 255, 0.7);
}

.nexus-check-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
}