.welcome-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 60px;
}

.title {
    display: flex;
    font-size: 60px;
    margin-bottom: 60px;
    color: #eee;
    justify-content: center;
}

.button-div {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}